<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.xer.igou.mapper.BrandMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.xer.igou.domain.Brand">
        <id column="id" property="id" />
        <result column="createTime" property="createTime" />
        <result column="updateTime" property="updateTime" />
        <result column="name" property="name" />
        <result column="englishName" property="englishName" />
        <result column="firstLetter" property="firstLetter" />
        <result column="description" property="description" />
        <result column="product_type_id" property="productTypeId" />
        <result column="sortIndex" property="sortIndex" />
        <result column="logo" property="logo" />
        <result column="is_deleted" property="isDeleted" />
    </resultMap>
    <resultMap id="brandsMap" type="Brand">
        <id column="id" property="id"/>
        <result column="createTime" property="createTime" />
        <result column="updateTime" property="updateTime" />
        <result column="name" property="name" />
        <result column="englishName" property="englishName" />
        <result column="firstLetter" property="firstLetter" />
        <result column="description" property="description" />
        <result column="product_type_id" property="productTypeId" />
        <result column="sortIndex" property="sortIndex" />
        <result column="logo" property="logo" />
        <result column="is_deleted" property="isDeleted" />

        <association property="productType" javaType="ProductType">
            <id column="pid" property="id"/>
            <result column="pname" property="name"/>
            <result column="ppath" property="path"/>
        </association>
    </resultMap>

    <!--List<Brand> getAllBrands(Page<Brand> page, BrandQuery query);-->
    <select id="getAllBrands" parameterType="BrandQuery" resultMap="brandsMap">
        SELECT
          b.*,
          p.id   pid,
          p.path ppath,
          p.name pname
        FROM t_brand b LEFT JOIN t_product_type p ON b.product_type_id = p.id
        <include refid="whereSql"></include>
    </select>
    <sql id="whereSql">
        <where>
            <if test="keyword != null and keyword != ''">
                and b.name LIKE concat("%",#{keyword},"%")
            </if>
        </where>
    </sql>

</mapper>
