<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.xer.igou.mapper.SpecificationMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.xer.igou.domain.Specification">
        <id column="id" property="id" />
        <result column="name" property="name" />
        <result column="isSku" property="isSku" />
        <result column="product_type_id" property="productTypeId" />
        <result column="is_deleted" property="isDeleted" />
    </resultMap>


    <!--List<Specification> selectViewListByTypeId(Long typeId);-->
    <select id="selectViewListByTypeId" parameterType="long" resultType="Specification">
        select * from t_specification WHERE product_type_id = #{id} AND isSku = 0 AND is_deleted = 0
    </select>

    <!--List<Specification> selectSkuListByTypeId(Long typeId);-->
    <select id="selectSkuListByTypeId" parameterType="long" resultType="Specification">
        select * from t_specification WHERE product_type_id = #{id} AND isSku = 1 AND is_deleted = 0
    </select>
</mapper>
